@import "../../../../styles/mixins";

.header {
  background: #04071E;
  color: white;
}

img {
  width: 1.4em;
}

a {
  color: white;

  &:hover {
    color: #ddd
  }
}

.s-select-bottom {
  margin-left: auto;
  min-width: 160px;
}

@media (max-width: 992px) {
  .header-logo>span {
    font-size: 14px !important;
  }

  .header-discipline>a {
    font-size: 14px;
  }
}

.header-menu {
  line-height: 0.5em;
}


.nav-link {
  color: white;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: #bbb;
  }
}

.navbar {
  z-index: 1200;
}

.nav-item-select {
  min-width: 160px;
}

@media (max-width: 992px) {
  .navbar {
    .nav-link {
      padding: 0;
    }
  }
}

@media (max-width: 992px) {
  .s-select-bottom {
    display: none !important;
  }
}

.search-header-container {
  width: 33%;

  @include for-phone-only {
    width: 40%;
    padding-right: 0;
  }
}

.select-header-container {
  @include font-params(15px, #ffff, 600, 16px);
  width: 30%;
}


.statetext {
  font-size: 1.6rem;
}

.headermenu {
  font-size: 15px;
}