:host::ng-deep {
  select, option, span {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .container, span, td, button, .result-loose, .result-win {
    font-size: 10px;
  }
  h5 {
    font-size: 14px;
  }
  .empty-span {
    height: 2.5em
  }
}

table {
  overflow-x: auto;
}