<div class="col pt-4">
  <div class="carddiv">
    <div class="header p-4 row">
      <p class="table-title careerstatehead fw-bold">Current Event Stats For Players</p>
    </div>
    <div class="content_header p-5 pt-2 pb-2 d-flex">
      <app-sportsman [isShortName]="false" [fullname]="'Egypt'" [countryCode]="'EGY'">
      </app-sportsman>
      <div class="p-2 pt-1">
        <span class="py-1 py-md-2 px-0 betbtn">
          Grass</span>
      </div>
    </div>
    <div class="content">
      <table class="table text-center">
        <tbody>
          <tr class="text-uppercase text-start table-header">
            <td class=" pt-1 pb-1 text-left"><span class="py-1 py-md-2 px-0">
                stats
              </span>
            </td>
            <td class=" pt-1 pb-1 text-left"><span class="py-1 py-md-2 px-0">
                federer
              </span>
            </td>
            <td class=" pt-1 pb-1 text-left"><span class="py-1 py-md-2 px-0">
                nadal
              </span>
            </td>
          </tr>

          <tr class="text-start ">
            <td class=" pt-3 pb-1 text-left"><span class="py- py-md-2 px-0 ">
                Matches Played
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                3
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                3
              </span>
            </td>
          </tr>
          <tr class="text-start ">
            <td class=" pt-3 pb-1 text-left"><span class="py- py-md-2 px-0 ">
                Last Match Time
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                01:54:00
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                01:24:00
              </span>
            </td>
          </tr>
          <tr class="text-start ">
            <td class=" pt-3 pb-1 text-left"><span class="py- py-md-2 px-0 ">
                Double Faults
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                07:55:00
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                06:35:00
              </span>
            </td>
          </tr>
          <tr class="text-start ">
            <td class=" pt-3 pb-1 text-left"><span class="py- py-md-2 px-0 ">
                1st Serve %
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                26
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                20
              </span>
            </td>
          </tr>
          <tr class="text-start ">
            <td class=" pt-3 pb-1 text-left"><span class="py- py-md-2 px-0 ">
                2nd Serve W %
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                90% (9/10)
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                7
              </span>
            </td>
          </tr>
          <tr class="text-start ">
            <td class=" pt-3 pb-1 text-left"><span class="py- py-md-2 px-0 ">
                Winners
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                90% (9/10)
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                60% (60/100)
              </span>
            </td>
          </tr>
          <tr class="text-start ">
            <td class=" pt-3 pb-1 text-left"><span class="py- py-md-2 px-0 ">
                Unforced Errors
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                90% (9/10)
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                80% (48/60)
              </span>
            </td>
          </tr>
          <tr class="text-start ">
            <td class=" pt-3 pb-1 text-left"><span class="py- py-md-2 px-0 ">
                Total BPs Won
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                90% (9/10)
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                50% (20/40)
              </span>
            </td>
          </tr>
          <tr class="text-start ">
            <td class=" pt-3 pb-1 text-left"><span class="py- py-md-2 px-0 ">
                Net Pts Won
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                75% (15/20)
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                17
              </span>
            </td>
          </tr>
          <tr class="text-start ">
            <td class=" pt-3 pb-1 text-left"><span class="py- py-md-2 px-0 ">
                Fastest Serve
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                200mph
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                0% (0/4)
              </span>
            </td>
          </tr>
          <tr class="text-start ">
            <td class=" pt-3 pb-1 text-left"><span class="py- py-md-2 px-0 ">
                Avg 1st Serve
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                188mph
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                100% (10/10)
              </span>
            </td>
          </tr>
          <tr class="text-start ">
            <td class=" pt-3 pb-1 text-left"><span class="py- py-md-2 px-0 ">
                Avg 2nd Serve
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                97mph
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                80% (8/10)
              </span>
            </td>
          </tr>
          <tr class="text-start ">
            <td class=" pt-3 pb-1 text-left"><span class="py- py-md-2 px-0 ">
                Avg 2nd Serve
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                52% (520/1000)
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                190mph
              </span>
            </td>
          </tr>
          <tr class="text-start ">
            <td class=" pt-3 pb-1 text-left"><span class="py- py-md-2 px-0 ">
                Tiebreak Win %
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                50% (5/10)
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                183mph
              </span>
            </td>
          </tr>
          <tr class="text-start ">
            <td class=" pt-3 pb-1 text-left"><span class="py- py-md-2 px-0 ">
                Avg Opp Rank
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                26
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                95mph
              </span>
            </td>
          </tr>
          <tr class="text-start ">
            <td class=" pt-3 pb-1 text-left"><span class="py- py-md-2 px-0 ">
                Deciding Set W %
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                100% (1/1)
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                51% (510/1000)
              </span>
            </td>
          </tr>
          <tr class="text-start ">
            <td class=" pt-3 pb-1 text-left"><span class="py- py-md-2 px-0 ">
                Tiebreaks / Match
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                0.8
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                60% (6/10)
              </span>
            </td>
          </tr>
          <tr class="text-start ">
            <td class=" pt-3 pb-1 text-left"><span class="py- py-md-2 px-0 ">
                1st Set W, W Match
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                100% (3/3)
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                36
              </span>
            </td>
          </tr>
          <tr class="text-start ">
            <td class=" pt-3 pb-1 text-left"><span class="py- py-md-2 px-0 ">
                1st Set L, W Match
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                0% (0/0)
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 ">
                0% (0/0)
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="p-1 table-wrap"></div>
    </div>
  </div>
</div>