<div class="row">
  <div class="col-12 p-3">
    <div class="information-wrap border-radius bg-white overflow-hidden h-100">
      <div class="row information-wrap__header p-4">
        <div class="row">
          <div class="col mt-3 mt-md-5 px-2">
            <h5 class="text-capitalize fw-bold p-0">Upcoming Match</h5>
          </div>
        </div>

        <div class="row">
          <div class="col p-1 p-md-2">
            <div class="bg-white mt-1 mt-md-3 border-radius pb-1 text-nowrap"
              *ngIf="upcomingMatches.length; else noMatches">
              <table class="table text-center mb-1">
                <thead>
                  <tr class="text-uppercase text-start">
                    <td class="ps-2 ps-md-3 pe-0 py-2 py-md-3"><span class="ps-2 py-1 py-md-2">round</span></td>
                    <td colspan="2" class="px-0 py-2 py-md-3"><span class="py-1 py-md-2 px-0">event</span></td>
                    <td class="text-center px-0 py-2 py-md-3"><span class="py-1 py-md-2 px-0">opponent</span></td>
                    <td class="text-center px-0 py-2 py-md-3"><span class="pe-2 py-1 py-md-2">odds/scr</span></td>
                    <td class="text-center pe-2 pe-md-3 ps-0 py-2 py-md-3"><span class="pe-2 py-1 py-md-2">h2h</span>
                    </td>
                  </tr>
                </thead>

                <tbody>

                  <tr *ngFor="let match of upcomingMatches" class="align-middle">
                    <td class="text-start text-uppercase ps-3 ps-md-4">{{match.roundId | shortRound :
                      match.tournament.name}}</td>
                    <td class="text-start p-0 tournament-link text-decoration-none"
                      (click)="navigateToTournament(match.tournament.name, match.tournament.date!)">
                      {{match.tournament.name}}</td>

                    <td class="text-start ps-md-4 ps-3">
                      <app-match-stat [winner]="match.player1" [looser]="match.player2"></app-match-stat>
                    </td>

                    <ng-template #noStat>
                      <td>
                        No Stat
                      </td>
                    </ng-template>

                    <td class="text-center">
                      <app-sportsman
                        [fullname]="match.player1.name == selectedName ? match.player2.name : match.player1.name"
                        [idkLeague]="match.player1.name == selectedName ? match.player2.seed : match.player1.seed"
                        [countryCode]="match.player1.name == selectedName ? match.player2.countryAcr : match.player1.countryAcr"
                        [hideCountryBySize]="true"></app-sportsman>
                    </td>

                    <td class="p-0">
                      <div *ngIf="!match.player1.odd && !match.player2.odd; else coef">
                        <span>n/a</span>
                      </div>

                      <ng-template #coef>
                        <div [coef]="match.player1.odd!" class="d-inline"></div> - <div [coef]="match.player2.odd!"
                          class="d-inline"></div>
                      </ng-template>
                    </td>

                    <td class="pe-md-4 pe-2 h2h-link"
                      [class.h2h-link]="match.player1.name != 'Unknown Player' && match.player2.name != 'Unknown Player'"
                      (click)="navigateToH2h(match.player1.name, match.player2.name)">H2H {{match.h2h}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <ng-template #noMatches>
              <h5>No upcoming matches!</h5>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>