<div class="col pt-4">
  <div class="carddiv">
    <div class="header p-4 row">
      <p class="table-title careerstatehead fw-bold">Upcoming Match</p>
    </div>
    <div class="content">
      <table class="table text-center">
        <tbody>
          <tr class="text-uppercase text-start table-header">
            <td class=" pt-1 pb-1 text-center"><span class="py-1 py-md-2 px-0">
                ROUND
              </span>
            </td>
            <td class=" pt-1 pb-1 text-center"><span class="py-1 py-md-2 px-0">
                EVENT
              </span>
            </td>
            <td class=" pt-1 pb-1 text-center"><span class="py-1 py-md-2 px-0">

              </span>
            </td>
            <td class=" pt-1 pb-1 text-center"><span class="py-1 py-md-2 px-0">
                RAFAEL NADAL
              </span>
            </td>
            <td class=" pt-1 pb-1 text-center"><span class="py-1 py-md-2 px-0">
                ROGER FEDERER
              </span>
            </td>
            <td class=" pt-1 pb-1 text-center"><span class="py-1 py-md-2 px-0">

              </span>
            </td>
          </tr>

          <tr class="text-start table-header">
            <td class=" pt-3 pb-1 text-center"><span class="py- py-md-2 px-0 rounddiv">
                F
              </span>
            </td>
            <td class=" pt-1 pb-1 text-left"><span class="py-1 py-md-2 px-0 d-flex">
                <app-sportsman [isShortName]="false" [fullname]="'Egypt'" [countryCode]="'EGY'">
                </app-sportsman>
              </span>
            </td>
            <td class=" pt-3 pb-1 text-left"><span class="py-1 py-md-2 px-0 Grasssmalldiv">Grass</span>
            </td>
            <td class=" pt-3 pb-1 text-center"><span class="py-1 py-md-2 px-0 fstdiv">
                1.11
              </span>
            </td>
            <td class=" pt-3 pb-1 text-center"><span class="py-1 py-md-2 px-0 rddiv">
                3.60
              </span>
            </td>
            <td class=" pt-3 pb-1 text-center"><span class="py-1 py-md-2 px-0 betbtn">
                Bet Now
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="p-1 table-wrap"></div>
    </div>
  </div>
</div>