<table class="table text-center">
    <tbody>
        <tr class="text-uppercase text-start table-header">
            <td class=" pt-1 pb-1 text-center"><span class="py-1 py-md-2 px-0">
                    <img [src]="'assets/icons/sportsman-images/noprofile.bmp'" class=" playerimg"> RAFA NADAL
                </span>
            </td>
            <td class=" pt-1 pb-1 text-center"><span class="py-1 py-md-2 px-0"></span></td>
            <td class=" pt-1 pb-1 text-center"><span class="py-1 py-md-2 px-0">
                    <img [src]="'assets/icons/sportsman-images/noprofile.bmp'" class=" playerimg"> RAFA NADAL
                </span>
            </td>
        </tr>
        <tr class=" text-start table-header">
            <td class=" pt-1 pb-1 text-center"><span class="py-1 py-md-2 px-0">25(11-02-1994)</span></td>
            <td class=" pt-1 pb-1 text-center">
                <div class="p-2"><span class="py-1 py-md-2 rounddiv">Age</span></div>
            </td>
            <td class=" pt-1 pb-1 text-center"><span class="py-1 py-md-2 px-0">25(11-02-1994)</span></td>
        </tr>
        <tr class=" text-start table-header">
            <td class=" pt-1 pb-1 text-center"><span class="py-1 py-md-2 px-0">198 cm</span></td>
            <td class=" pt-2 pb-3 text-center">
                <div class="p-2"><span class="py-1 py-md-2 p-2 rounddiv">Height</span></div>
            </td>
            <td class=" pt-1 pb-1 text-center"><span class="py-1 py-md-2 px-0">198 cm</span></td>
        </tr>
        <tr class=" text-start table-header">
            <td class=" pt-1 pb-1 text-center"><span class="py-1 py-md-2 px-0">84 kg</span></td>
            <td class=" pt-2 pb-3 text-center">
                <div class="p-2"><span class="py-1 py-md-2 p-2 rounddiv">Weight</span></div>
            </td>
            <td class=" pt-1 pb-1 text-center"><span class="py-1 py-md-2 px-0">84 kg</span></td>
        </tr>
        <tr class=" text-start table-header">
            <td class=" pt-1 pb-1 text-center"><span class="py-1 py-md-2 px-0">Right Handed</span></td>
            <td class=" pt-2 pb-3 text-center">
                <div class="p-2"><span class="py-1 py-md-2 p-2 rounddiv">Playes</span></div>
            </td>
            <td class=" pt-1 pb-1 text-center"><span class="py-1 py-md-2 px-0">3</span></td>
        </tr>
        <tr class=" text-start table-header">
            <td class=" pt-1 pb-1 text-center"><span class="py-1 py-md-2 px-0">2</span></td>
            <td class=" pt-2 pb-3 text-center">
                <div class="p-2"><span class="py-1 py-md-2 p-2 rounddiv">Playes</span></div>
            </td>
            <td class=" pt-1 pb-1 text-center"><span class="py-1 py-md-2 px-0">Right Handed</span></td>
        </tr>
        <tr class=" text-start table-header">
            <td class=" pt-1 pb-1 text-center"><span class="py-1 py-md-2 px-0">Two Handed</span></td>
            <td class=" pt-2 pb-3 text-center">
                <div class="p-2"><span class="py-1 py-md-2 p-2 rounddiv">Backhand</span></div>
            </td>
            <td class=" pt-1 pb-1 text-center"><span class="py-1 py-md-2 px-0">Two Handed</span></td>
        </tr>
    </tbody>
</table>