@media (max-width: 991px) {
  .table-scroll {
    overflow-x: scroll;
  }
}

.table-header {
  background-color: #FBFBFB;
}


.carddiv {
  background: white;
  border-radius: 20px;
}

.headertext {
  font-family: "Source Code Pro", sans-serif;
  font-size: 35px;
  font-weight: 400 !important;
}

.content_header {
  border-top: 1px solid #F1F1F1;

  --bs-gutter-x: 0rem !important;
}

.content {
  border-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}



.divflex {
  display: flex;
}

.playerimg {
  border-radius: 100%;
  object-fit: cover;
  height: 80%;
  width: 110% !important;
}

.greencolor {
  color: #6DC47F;
}

.blackcolor {
  color: #04071E;
}

.nonepd {
  padding: 0% !important;
}

.fs12 {
  font-size: 12px;
}

.information-wrap__header {
  padding-bottom: 0% !important;
}

.information-wrap {
  border-radius: 20px !important;
}


.careerstatehead {
  font-size: 26px !important;
}

.arrowbtn {
  width: 160px;
  border-radius: 0%;
}

.rightbtn {
  background: #ffff;
}

.rightdiv {
  background: #ffff;
  margin-left: -12px;
}

.arrowbuttongroup {
  border-top: 1px solid #F1F1F1;
  --bs-gutter-x: 0rem;
  border-bottom: 1px solid #F1F1F1;
}

.arrowmenudiv {
  width: 31px;
  transform: rotate(45deg);
  border-top-right-radius: 10px;
  border-top: 1px solid #F1F1F1;
  height: 31px;
  border-right: 1px solid #F1F1F1;
  margin-top: 4px;
  margin-left: -11px;
}

.leftdiv {
  background: buttonface;
}








.carddiv {
  background: white;
  border-radius: 20px;
}

.headertext {
  font-family: "Source Code Pro", sans-serif;
  font-size: 35px;
  font-weight: 400 !important;
}

.content_header {
  background: white;
  border-top: 1px solid #F1F1F1;
  font-weight: 500;
  font-size: 20px;
}

.content {
  border-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.table-wrap {
  border-radius: 20px;
}

.bigselect {
  width: 100% !important;
}

.currentsel {
  color: #6DC47F;
}


.table>thead>tr>td span {
  background: #FBFBFB !important;
}

.table>tbody>tr:first-child {
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
  font-weight: 700;
}

.text-right {
  text-align: right;
}

.table>tbody>tr:nth-of-type(even) {
  background: #FBFBFB;
}

.table>tbody>tr>td:first-child {
  padding-left: 1.5rem !important;
}



.blackwhitediv {
  background: #A4A6BF;
  border-radius: 4px;
  font-size: 7px;
  color: white;
}


.betbtn {
  cursor: pointer;
  background: #6DC47F;
  border-radius: 4px;
  font-size: 13px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  color: white;
}

.statediv {
  font-size: 15px;
}

.statsimg {
  height: 38%;
  margin-top: 0.7rem;
}