<div class="navbar navbar-expand-lg footer justify-content-center sticky-top">
  <div class="footer-center p-5 row">
    <div class="col-12">
      <span class="text-uppercase fw-bold h3">match</span><span class="text-uppercase statetext h3">stat</span>
    </div>
    <div class="col-12  pt-4 pb-4">
      <ul class="navbar-nav text-nowrap flex-row justify-content-between footermenu">
        <li class="nav-item me-2"><a class="py-0 py-md-2 nav-link"><img class="me-1"
              src="assets/icons/footer-football.png">Football</a></li>
        <li class="nav-item me-2"><a class="py-0 py-md-2 nav-link"><img class="me-1"
              src="assets/icons/footer-tennis.png">Tennis</a></li>
        <li class="nav-item me-2"><a class="py-0 py-md-2 nav-link"><img class="me-1"
              src="assets/icons/footer-basketball.png">Basketball</a></li>
        <li class="nav-item me-2"><a class="py-0 py-md-2 nav-link"><img class="me-1"
              src="assets/icons/footer-hockey.png">Hockey</a></li>
        <li class="nav-item me-2"><a class="py-0 py-md-2 nav-link"><img class="me-1"
              src="assets/icons/footer-golf.png">Golf</a></li>
        <li class="nav-item me-2"><a class="py-0 py-md-2 nav-link"><img class="me-1"
              src="assets/icons/footer-snooker.png">Snooker</a></li>
        <li class="nav-item me-2"><a class="py-0 py-md-2 nav-link"><img class="me-1"
              src="assets/icons/footer-more.png">More</a></li>
      </ul>
    </div>
    <div class="col-12  pt-2 pb-3">
      <ul class="navbar-nav text-nowrap flex-row justify-content-between footermenu">
        <li class="nav-item me-2"><a class="py-0 py-md-2 nav-link"><img class="me-1"
              src="assets/icons/footer-picture.png"></a></li>
        <li class="nav-item me-2"><a class="py-0 py-md-2 nav-link"><img class="me-1"
              src="assets/icons/footer-facebook.png"></a>
        </li>
        <li class="nav-item me-2"><a class="py-0 py-md-2 nav-link"><img class="me-1"
              src="assets/icons/footer-linkdin.png"></a>
        </li>
      </ul>
    </div>
    <div class="col-12  pt-2 pb-5">
      <ul class="navbar-nav text-nowrap flex-row justify-content-between footermenu">
        <li class="nav-item me-2"><a class="py-0 py-md-2 nav-link"> © 2021 All rights reserved. Wellteam Pty Ltd </a>
        </li>
        <li class="nav-item me-2"><a class="py-0 py-md-2 nav-link"> Privacy Policy </a></li>
        <li class="nav-item me-2"><a class="py-0 py-md-2 nav-link"> Terms & Conditions </a></li>
        <li class="nav-item me-2"><a class="py-0 py-md-2 nav-link"> Contact Us </a></li>
      </ul>
    </div>
    <!-- <div class="col d-md-block" *ngIf="isShowMenu">
      <div class="row text-nowrap">
        
      </div>
    </div> -->
  </div>
</div>