select {
  border-radius: 4px;
  border: 1px solid #888;
}

@media (max-width: 992px) {

  div,
  select,
  option {
    font-size: 8px !important;
  }
}

.bigselect {
  width: 105px;
}

.canendersel {
  border: 0px !important;
  background: #F1F1F1 !important;
}

.rankingsel {
  border: 0px !important;
  background: #F1F1F1 !important;
  font-size: 15px;
  color: #878D96;
  border-radius: 7px;
}