@import "../../../../styles/colors";
@import "../../../../styles/mixins";

.search {
  position: relative;
  width: 100%;

  &-input {
    @include font-params(14px, #4D5358, 400, 20px);
    padding: 9px 30px 9px 16px;
    background: $white !important;
    border-radius: 4px;
    width: 100%;
    height: 37px;
    border: 1px solid #B8B8B8 !important;

    @include for-phone-only {
      font-size: 8px;
      padding: 2px 10px 2px 4px;
      color: $black;
      height: 20px;
    }
  }

  &-menu {
    padding: 10px 33px 10px 16px;
    background: #F1F1F1;
    border-radius: 7px;
    max-width: 360px;
    width: 100%;
    height: 40px;
    border: none;

    @include for-phone-only {
      padding: 6px 25px 6px 9px;
      height: 32px;
      max-width: 100%;
    }
  }
}

.icon {
  &-search {
    position: absolute;
    right: 12px;
    top: calc(50% - 8px);

    @include for-phone-only {
      width: 8px;
      height: 8px;
      background-size: 8px;
      top: calc(50% - 4px);
      right: 5px;
    }
  }
}

.list-modal {
  box-shadow: rgba(100, 100, 111, 0.6) 0 7px 19px 0;
  background: white;
  position: absolute;
  width: 250px;
  max-height: 500px;
  overflow-y: scroll;
  padding: 0.25rem 1rem !important;
  z-index: 999;
}

.link {
  transition: 0.2s;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: black;
}

.link:hover {
  color: #777;
}
